@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


@ViewData["Title1"];

<link type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
<script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="~/js/site.js"/></sctipt>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>


<div>
    <h1>SomeTitle</h1>
</div>
<button type="button" class="btn btn-primary">Primary</button>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
    </div>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
