@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


@ViewData["Title1"];

<div>
    <input style="widthP" id="getBooks" type="text" value="" />
</div>


<div class="wrapper">
    <div class="container">
        <div class="header">
            <div class="header__logo">
                <img src="~/img/TestImg.jpg" alt="Something" />
            </div>
            <nav class="header_menu">
                <ul class="menu_list">
                    <li class="list_item">1</li>
                    <li class="list_item">2</li>
                    <li class="list_item">3</li>
                    <li class="list_item">4</li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div></div>






