@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


@ViewData["Title1"];

<link type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
<script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="~/js/site.js"/></sctipt>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>

<button type="button" class="btn btn-primary">Primary</button>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
